@import 'styles/partials'




* :global
  .content-width
    max-width: $w-content_max
    min-width: $w-min
    margin: 0 auto

    // paddings when viewport width <= content
    @media only screen and (max-width : $w-content_padding)
      padding-left: 15px
      padding-right: 15px

  .clearfix
    &:before
      content: ""
      display: table

    &:after
      content: ""
      display: table
      clear: both

  .loader
    flex-grow: 1
    background-image: url('./img/decor/loader-main.gif')
    background-position: center
    background-repeat: no-repeat


  //_______ ACCENT BUTTON ________

  .btn-accent
    outline: none
    background-color: $c-accent
    text-transform: uppercase
    font-size: rem(18)
    font-weight: 700
    font-family: $f-title
    transition: background-color .2s

    &:hover
      background-color: $c-accent_l

    &:active
      background-color: $c-accent_d


  //_______ ANIMATION FOR REACT TRANSITION GROUP ________


  .fade-enter
    opacity: 0

  .fade-enter.fade-enter-active
    opacity: 1
    transition: opacity 350ms ease-in

  .fade-exit
    opacity: 1

  .fade-exit.fade-exit-active
    opacity: 0.01
    transition: opacity 300ms ease-in

  // fade to top
  .fadeToTop-enter
    transform: translateY(10px)
    opacity: 0

  .fadeToTop-enter.fadeToTop-enter-active
    transform: translateY(0)
    opacity: 1
    transition: opacity 250ms ease-in, transform .2s ease-in

  .fadeToTop-exit
    opacity: 1

  .fadeToTop-exit.fadeToTop-exit-active
    opacity: 0.01
    transition: opacity 300ms ease-in


  // fade to bottom

  .fadeToBottom-enter
    transform: translateY(-50px)
    opacity: 0

  .fadeToBottom-enter.fadeToBottom-enter-active
    transform: translateY(0)
    opacity: 1
    transition: opacity 350ms ease-in, transform .3s ease-in

  .fadeToBottom-exit
    opacity: 1

  .fadeToBottom-exit.fadeToBottom-exit-active
    opacity: 0.01
    transition: opacity 300ms ease-in, transform .3s ease-in


  // to-right-bounce

  .toRightBounce-enter
    opacity: 1
    background-color: rgba(#CECECE, .3)

  .toRightBounce-enter.toRightBounce-enter-active
    opacity: 1
    background-color: transparent
    transition: opacity .35s ease-in, background-color .6s ease-out

  .toRightBounce-exit
    opacity: 1

  .toRightBounce-exit.toRightBounce-exit-active
    opacity: 0
    transition: opacity .35s ease-in, background-color .6s ease-out


