@import '~cssVars'

.users
  display: flex
  flex-flow: column nowrap
  width: 23%
  flex-shrink: 0
  background: #FFF
  border-right: 2px solid #dbdbdb

.usersHeader
  display: flex
  justify-content: space-between
  align-items: center
  position: relative
  z-index: 1
  background: $c-accent
  // border-right: 2px solid #DBDBDB
  padding: 20px 25px
  // box-shadow: 0 2px 5px 1px rgba(#000, .3)

  p
    font-size: 30px
    // padding-left: 25px
    background-repeat: no-repeat
    background-size: 15px auto
    color: #FFF

.usersHeader :global
  p
    // background-image: url('./img/users.svg')

.usersList
  flex-grow: 1

.user
  position: relative
  border-bottom: 1px solid  $c-accent
  padding: 15px 15px 15px 30px

  &:after
    content: ''
    display: block
    position: absolute
    top: 50%
    left: 10px
    transform: translateY(-50%)
    width: 10px
    height: 10px
    border-radius: 50%
    background: #2FFF74

.emptyText
  padding: 10px 15px

